header div{
    display: flex;
    height: 40px;
    background-color: darkslateblue;
    align-items: center;
    color: white;
}

header div img{
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: 45px;
}

.text-muted{
    text-align: center;
}

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}