
body{
    background-color: white;
    align-items: center;
}


#newUserButton{
    background-color: blueviolet;
    float: right;
    margin-top: 1%;
    width: 150px;
    border-color: blueviolet;
    margin-left: 5px;
    border-radius: 5px;
    top:-1px;
    left: 10px;
    border-radius: 8px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    padding: 10px 16px;
    vertical-align: baseline;
    margin-bottom: 1%;
    color: white;
 
}


#tableUser {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    text-align: center;
    margin-left: 3%;
    margin-right: 1%;
 
}

thead tr {
    background-color: #bfefff;
    color: black;
    font-weight: bold;
}

th,td {
    padding: 12px 15px;
}

tbody tr{
    border-bottom: 1px solid #dddddd;

    transition: 0.2s;
}